<style>
    #selectView{max-height: 780px; overflow-y: auto;} 
    #apiInfoView{max-height:600px; min-height: 200px; overflow-y: auto;}
    #apiResultView{max-height: 280px; overflow-y: auto;}
    .apiLine{cursor: pointer;}
    #selectTable{width: 100%;}
    #selectTable th{position: sticky; top: 0; z-index: 1; background-color: #3a3b45; color: white;}
    #signupBtn{width: 400px;}
    .apiInfoViewBody{display:none;}
</style>

<script type="text/javascript">

    $(function(){
        //api명 또는 설명 클릭이벤트
        $('.getApiCls').click(function(){
            //리셋
            $('.apiInfoViewBody').css('display','none');                
            $('.getApiCls').attr('class','bg-gray-100 apiLine getApiCls');
            //클릭한값 색칠 및 아이디값 가져오기
            $(this).attr('class','bg-gray-300 apiLine getApiCls');
            var apiId = $(this).attr('id');
            console.log("에이피아이>>>"+apiId);
            //가져온 아이디값에 따른 설정부분
            if(apiId=="singupApi"){
                $('.apiInfoViewBody').eq(0).css('display','block');
            }else if(apiId=="joinFarm"){
                $('.apiInfoViewBody').eq(1).css('display','block');
            }else if(apiId=="joinRecruit"){
                $('.apiInfoViewBody').eq(2).css('display','block');
            }             
            $('.p-3_result').text("");
            $('.p-3_return').text("");
        });

        //ajax

        //유저등록 전송버튼 클릭이벤트
        <%-include('ajaxSignup')%>

        //농장등록 전송버튼 클릭이벤트
        <%-include('ajaxJoinFarm')%>

        //모집등록 전송버튼 클릭이벤트
        <%-include('ajaxJoinRecruit')%>

    });
</script>

<h1>회원api</h1>

<div class="row">

    <!-- 왼쪽 api 선택영역 -->
    <%-include('selectView')%>
    
    <!-- 오른쪽 영역 -->
    <div class="col-lg-9">
        <!-- api정보화면 insert,update,delete는 입력값, select는 테이블  -->
        <div class="card shadow mb-4" id="apiInfoView">

            <!-- 선택한 api별로 변경되는 부분 아래로 쭉이어서 쓰면된다. -->

            <!-- 1번 유저등록화면  -->
            <%-include('joinUser')%>
                   
            <!-- 2번 농장등록화면  -->
            <%-include('joinFarm')%>

            <!-- 3번 모집등록화면  -->
            <%-include('joinRecruit')%>
            

         <!-- 통신결과 보여주는 영역  -->
        <div class="card shadow mb-4">           
            <div class="p-3 apiName">● 결과 : <p class="p-3_result"></p></div>
            <div class="p-3 apiName">● 리턴값: <p class="p-3_return"></p></div>
        </div>
    </div><!-- class//col-lg-9 -->

</div><!-- class//row -->
